.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  background: var(--theme-page-background);
  color: var(--theme-page-text);
}
.light {
  --theme-page-background: #fff;
  --theme-page-text: #111;
  --theme-button-background: var(--theme-page-text);
  --theme-button-text: var(--theme-page-background);
  --link-colrs: rgb(255, 121, 43);
}

.dark {
  --theme-page-background: #111;
  --theme-page-text: #fff;
  --theme-button-background: var(--theme-page-text);
  --theme-button-text: var(--theme-page-background);
  --link-colrs: rgb(43, 135, 255);
}
.buttons {
  padding: 0.75rem;
  border-radius: 0.6rem;
  font-weight: 500;
  width: 7rem;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  border: transparent;
  top: 2rem;
  outline: none;
  margin-bottom: 2rem;
  margin-right: 1rem;
  background: var(--theme-button-background);
  color: var(--theme-button-text);
}
a {
  color: var(--link-colrs);
}
